body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    font-family: Comic Sans MS, sans-serif;
    box-sizing: border-box;
}

.first {
    background-image: url('sky3.jpg');
    background-color: #BCD2E8;
    justify-content: center;
    align-items: last baseline;
    height: 8em;
    font-size: larger;
    position: relative;
    font-weight: bold;
}

.first label h1 {
    position: relative;
    margin-top: 4%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    /* Adjust the font size as needed */
}


.green{
    background-color: #59b919 !important;
}

.second {
    background-color: #73c9ec !important;
    align-items: baseline;
    height: 7.5em;
}



.third {
    background-color: #763A12;
    align-items: baseline;
    display: flex;
    height: auto;
}

.third .content {
    text-align: center;
}

/* .third p {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.third h3 {
    padding: 55px;
} */

.fourth {
    background-color: #AA4C0A;
    align-items: center;
    display: flex;
    text-align: center;
}

/* .fourth p {
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.fourth h3 {
    padding: 55px;
} */

.fifth {
    background-color: #E08600;
}

.sixth {
    background-color: #EFBF38;
}

.all {
    transition: transform .2s;
}

.all:hover {
    transform: scale(1.5);
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 100%;
}

.container input {
    display: none;
}

.panel input:checked~.content {
    max-height: 100vh;
}

.container .panel {
    margin-bottom: 0px;
    border-radius: 0px;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18); */
}

.container .panel label {
    background-color: rgba(255, 228, 196, 0);
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 3px;
    position: relative;
    z-index: 99;
}

.container label .span {
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    text-shadow: 0 -1px 1px #0056b3;
}


.container .panel .content p {
    font-size: 1.5em;
    padding: 15px 20px;
}

.container .panel .content {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.panel {

    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline;
}

.panel:hover {
    background-color: #966b21;
}

.panel.active {
    background-color: #0074D9;
}

.content {
    padding: 10px;
    background-color: #f9f9f900;
}

.content.active {
    display: block;
}

@media (max-width: 768px) {
    body {
        font-size: 50%;
    }

    .container {
        padding: 0 10px;
    }

    .panel {
        padding: 10px;
        margin-bottom: 10px;
    }

    .container .panel label {
        padding: 10px;
    }

    .container .panel p {
        font-size: 30%;
    }

    .container .panel .content p {
        font-size: 0.9em;
        padding: 10px;
    }

    .all {
        height: 7%;
        width: 7%;
    }

    .first {
        height: auto;
        padding: 50px 20px;
    }
}