@tailwind base;
@tailwind components;
@tailwind utilities;

.click-message {
    animation: fadeIn 1s ease-in-out infinite, colorChange 5s infinite;
    /* background: linear-gradient(to left,  #7998EE, #9075D8); */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
        color: #163020;
    }

    50% {
        color: #1B4242;
    }

    100% {
        color: #5C8374;
    }
}